<div class="table-responsive">
    <table class="table table-hover table-bordered table-bordered">
        <thead>
            <tr class="text-right">
                <td>{{ priceoveride_column_p_name }}</td>
                <td>{{ priceoveride_column_p_ean }}</td>
                <td>{{ priceoveride_column_special_price }}</td>
                <td>{{ priceoveride_column_date_added }}</td>
                <td>{{ priceoveride_column_action }}</td>
            </tr>
        </thead>

        <tbody>
        {% if override_table %}
            {% for row_info in override_table %}
                <tr class="text-right text-normal" id = "{{ row_info.id }}">
                    <td>
                        {% if row_info.product_id is not null %}
                        <a href="{{ row_info.link }}" target="_blank">{{ row_info.name }}</a>
                        {% endif %}
                    </td>
                    <td class="overide-ean">{{ row_info.ean }}</td>
                    <td class="overide-price">{{ row_info.special_price }}</td>
                    <td>{{ row_info.date_added }}</td>
                    <td>
                        <button type="button" class="button-save-po btn btn-primary hidden">
                            <i class="fa fa-save"></i>
                        </button>
                        <button type="button" class="button-edit-po btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" data-id="{{ row_info.price_id }}" class="button-delete-po btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td colspan="5">{{ text_no_results }}</td>
            </tr>
        {% endif %}
        </tbody>

    </table>
</div>
<div class="row">
    <div class="col-sm-6 text-left">{{ pagination }}</div>
    <div class="col-sm-6 text-right">{{ results }}</div>
</div>

<script type="text/javascript">
    $('.button-delete-po').on('click', function (e) {
        e.preventDefault();

        var row_id = $(this).parents('tr').attr('id');

        $.ajax({
            url: 'index.php?route=customer/customer/deleteOverideRow&user_token={{ user_token }}',
            type: 'post',
            dataType: 'json',
            data: 'row_id=' + encodeURIComponent(row_id),
            success: function (json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#tab-import').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

                if (json['success']) {
                    $('#tab-import').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    $('#overideprices').load('index.php?route=customer/customer/overideprices&user_token={{ user_token }}&customer_id={{ customer_id }}');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('.button-edit-po').on('click', function (e) {
        e.preventDefault();
        $(this).addClass('hidden');

        var price = $(this).parents('tr').find('.overide-price').html();
        var ean = $(this).parents('tr').find('.overide-ean').html();

        $(this).parents('tr').find('.overide-price').html('<input type="text" class="text-right" id="edit_price" value="'+price+'">');
        $(this).parents('tr').find('.overide-ean').html('<input type="text" class="text-right" id="edit_ean" value="'+ean+'">');

        $(this).parents('td').find('.button-save-po').removeClass('hidden');

    });

    $('.button-save-po').on('click', function (e) {
        e.preventDefault();

        var row_id = $(this).parents('tr').attr('id');
        var ean =    $('#edit_ean').val();
        var price =  $('#edit_price').val();

        if(price==""){
            price=" ";
        }

        var tmp=$(this)

        $.ajax({
            url: 'index.php?route=customer/customer/updateOverideProperties&user_token={{ user_token }}',
            type: 'post',
            dataType: 'json',
            data: 'row_id=' + encodeURIComponent(row_id) + '&ean=' + encodeURIComponent(ean) + '&price=' + encodeURIComponent(price),
            success: function (json) {
                $('.alert-dismissible').remove();
                $("#product-price").parents('tr').find('.button-save-po').addClass('hidden');
                $("#product-price").parents('tr').find('.button-edit-po').removeClass('hidden');

                tmp.parents('tr').find('.overide-price').html(price);
                tmp.parents('tr').find('.overide-ean').html(ean);

                if (json['error']) {
                    $('#tab-priceoveride').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

                if (json['success']) {
                    $('#tab-priceoveride').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    $('#overideprices').load('index.php?route=customer/customer/overideprices&user_token={{ user_token }}&customer_id={{ customer_id }}');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });


</script>